.cta-area {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-between;
  width: 80%;
}
.cta-area h2 {
  font-family: Muli;
  font-weight: 900;
  font-size: 1px;
  line-height: 75px;
  margin-bottom: 50px;
  text-align: right;
}
.cta-area p {
  font-family: Muli;
  font-weight: 700;
  font-size: 16pt;
}
